<h1 class="md-display-2">Runs</h1>


<ul>

  <li ng-repeat="run in runs.all">
    <md-content class="md-padding" layout-xs="column" layout="row">
      <div flex-xs flex-gt-xs="45" layout="column">
        <ul>
        <md-card>
          <img ng-src="{{ run.image }}" class="md-card-image">
          <md-card-actions layout="row" layout-align="end center">
            <md-button>{{ run.title }}</md-button>
            <md-button ui-sref="run({ id: run._id })">Show Run</md-button>
            <md-button ng-click="runs.deleterun(run._id)">Delete</md-button>
          </md-card-actions>
        </md-card>
      </ul>
    </div>
  </md-content>
</li>
</ul>

