<section>
  <div class="map-container">
    <ui-gmap-google-map center="map.map.center" zoom="map.map.zoom" options="map.map.options" control="map.map.control">
  </div>
  <md-content layout-padding>
    <form>
      <div class="button-container">
        <md-button class="waypoint md-raised md-primary" ng-click="map.addWaypoint()">Add Waypoint</md-button>
        <md-button class="md-raised md-primary" ng-click="map.addRun()">Save Run</md-button>
      </div>
      <h1 class="md-display-1">Add Run</h1>
      <md-input-container class="md-block">
        <label>Title</label>
        <input type="text" name="title" ng-model="map.run.title">
      </md-input-container>
      <md-input-container class="md-block">
        <label>Image</label>
        <input type="text" name="image" ng-model="map.run.image">
      </md-input-container>
    </form>
  </md-content>
</section>



<!-- <section class="map-container">

<div id="runheader">
<div id="h1holder">
<h1>New Run</h1>
</div>


  <form  id="saveRunForm" class="new_run">
    <input type="text" name="title" placeholder="title" ng-model="map.run.title">
    <input type="text" name="image" placeholder="image" ng-model="map.run.image">

    <input type="button" value="Save Run" ng-click="map.addRun()">
  </form>


</div>



<div id="waypointButton">
  <input type="button" value="Add Waypoint" ng-click="map.addWaypoint()">

  </div>
  
  <ui-gmap-google-map center="map.map.center" zoom="map.map.zoom" options="map.run.map.options" control="map.map.control">


</section>
 -->




